<div class="sidebar-header">Danh mục sản phẩm</div>
<ul class="sidebar-menu">
    <li><a href="#">Áo dài</a></li>
    <li><a href="#">Áo đông</a></li>
    <li><a href="#">Túi xách</a></li>
    <li><a href="#">Đồng hồ</a></li>
    <li><a href="#">Ví da</a></li>
    <li><a href="#">Thú bông</a></li>
    <li><a href="#">Tài liệu</a></li>
    <li><a href="#">Tivi</a></li>
    <li><a href="#">Quạt điện</a></li>
    <li><a href="#">Lò sưởi</a></li>
</ul>

<div class="banner">
    <img src="/images/products/banner.png" alt="Banner" class="banner-img" />
</div>
