@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~fortawesome/fontawesome-free/css/all.css" />
    <link rel="stylesheet" href="~admin-lte/dist/css/adminlte.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <partial name="_AdminNavbar" />
        <partial name="_AdminSidebar" />

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <h1>@ViewData["Title"]</h1>
                </div>
            </section>

            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
        </div>

        <partial name="_AdminFooter" />
    </div>
    <script src="~/js/site.js"></script>
</body>
</html>
